@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital@0;1&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banners.css");

:root {
	--main-yellow: #ff9f1c;
	--main-green: #2e441e;
	--main-blue: #283670;
	--main-black: #030504;
  --main-white: #f6f4f5;
  --main-red: #ad0914;
}

.body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-white);
  color: var(--main-black);
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

