#navbar {
  width: 100vw;
  height: 18px;
  background-color: var(--main-white);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  top: 0px;
  left: 0px;
  padding: 8px;
}

#navbar ul li {
  list-style: none;
  float: left;
  display: block;
  text-decoration: none;
}

.nav-link {
  margin: 16px auto;
  text-decoration: none;
  text-align: center;
  color: var(--main-blue);
  padding: 5px 8px;
  font-family: inherit;
}